@keyframes flip {
	0%   {transform: rotateX(0deg) rotateY(0deg);}
	100% {transform: rotateX(270deg) rotateY(270deg);}
}
.flip-block {
	width:46px; height:46px; border:solid; border-width: 2px;
	border-radius:10px; transform: rotateX(270deg) rotateY(270deg);
	background-color:#FB7272; display:inline-block;
}
#header-background {
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
	z-index:-1;
}

html {
  height: 100%;
  font-size: 100%;
}

body {
  font-size: 1rem;
  margin: 0;
  height: 100%;
  font-family: 'Inconsolata';
  background-color: #fff;
  /* F7EC6D */
  /* background: url('images/network.jpg') repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/** Hero **/
/* Full height container with column flexbox (up to down) */
.header-container {
  box-sizing: border-box;
  min-height: 100vh;
  width:100%;
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Container for the main hero */
.hero-container {
  flex-grow: 1;
  display: flex;
  align-items: center; /* Align hero in center of this container */

}

#hero {
  display: block;
  font-size: 1rem;
  box-sizing: border-box;
  margin: auto;
  text-align: center;
  max-width: 38rem;
  width: 56%;
  padding: 2rem 1rem;

  /* background-color: rgba(180, 176, 176, 0.4);
  background: radial-gradient(
    at 0 0,
    rgba(200, 200, 200, 0.8),
    rgba(180, 176, 176, 0.4)
  ); */
}

@media (max-width: 46rem) {
  #hero {
    width: 100%;
    max-width: 80%;
  }
}

#hero img {
  max-width: 24rem;
  width: 100%;
  height: auto; /* Set height based on width */
}

#hero p {
  font-size: 2.75em;
  margin: 0;
  line-height: 1.3;
}

#hero #date {
  font-size: 1.7em;
}

/**lightning bolts**/

.bolt {
  width: 0px;
  height: 0px;
  border: 15px solid transparent;
  border-bottom: 55px solid #323335;
  position: absolute;
  margin-top: -270px;
  margin-left: 47%;
}

.one {
  margin-left: 37%;
  transform: rotateZ(-25deg) translateY(7px);
  animation: white 0.3s linear infinite;
}

.one .other {
  animation: whitet 0.3s linear infinite;
}

.two {
  border-bottom: 55px solid #FEFEFE;
  transform: translateY(-7px);
  animation: gray 0.3s linear infinite;
}

.two .other {
  border-top: 55px solid #FEFEFE;
  animation: grayt 0.3s linear infinite;
}

.three {
  margin-left: 57%;
  transform: rotateZ(25deg) translateY(0px);
  animation: white 0.3s linear infinite;
}

.three .other {
  animation: whitet 0.3s linear infinite;
}

.other {
  width: 0px;
  height: 0px;
  border: 11px solid transparent;
  border-top: 55px solid #323335;
  margin-top: 40px;
}

@keyframes white {
  to {
    border-bottom-color: #FEFEFE;
  }
}

@keyframes whitet {
  to {
    border-top-color: #FEFEFE;
  }
}

@keyframes gray {
  to {
    border-bottom-color: #323335;
  }
}

@keyframes grayt {
  to {
    border-top-color: #323335;
  }
}

/** Header **/
.header {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  background-color: #ececec;
  transition: box-shadow 300ms ease;
  height: 5rem;
  position: relative;
}

.header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 0.25rem 0.75rem rgb(0, 117, 105);
}

.header-inner {
  max-width: 64rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 0 1rem;
}

/** Main Navigation **/

.header-left {
  font-size: 1.6em;
  padding: 0;
  margin: 0;
}

@media (max-width: 42rem) {
  .header-left-subtitle {
    display: none;
  }
}

.header-right {
  display: flex;
  align-items: center;
}

.main-nav-link {
  text-decoration: none;
  color: black;
  font-size: 1.4em;
  cursor: pointer;
  margin-right: 2rem;
  display: inline-block;
  transition: margin-right 300ms ease;
}

.main-nav-link:last-child {
  margin-right: 0;
}

@media (max-width: 47.5rem) {
  .main-nav-link {
    margin-right: 1rem;
  }
}

.social-nav-item {
  height: 1.75rem;
  width: 1.75rem;
  text-decoration: none;
  display: inline-block;
  margin-right: 1rem;
}

.social-nav-item img {
  display: block;
  width: 100%;
  height: 100%;
}

/** Hamburger icon **/
.hamburger {
  cursor: pointer;
  width: 1.875rem;
  height: 1.5625rem;
  margin: 0;
}

.hamburger__line {
  background-color: #000;
  border-radius: 2px;
  content: '';
  display: block;
  width: 100%;
  height: 0.25rem;
}

.hamburger__line:nth-child(2) {
  margin: 0.3125rem 0;
}

/** Mobile nav **/
.hamburger {
  display: none;
}

@media (max-width: 34rem) {
  .hamburger {
    position: absolute;
    top: 1.71875rem;
    right: 1rem;
    display: block;
  }

  .hamburger--active {
    position: fixed;
  }

  .main-nav {
    display: none;
  }

  .main-nav--visible {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    text-align: center;
  }

  .main-nav--visible .main-nav-link {
    margin: 0;
    padding: 0;
    font-size: 4em;
  }

  .main-nav--visible .social-nav-item {
    display: none;
  }

}


/** Content **/

#content {
  background: linear-gradient(to bottom right, #cfbcc9bb, #ffffffbb);
}

.content {
  margin-left: 0;
  margin-right: 0;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3em;
  padding-bottom: 3em;
  margin-bottom: 0;
}

.content hr {
  margin-top: 30px;
}

.content h2 {
  font-family: "Inconsolata";
  font-size: 4em;
  color: #FB7272;
  /* color: #e40011; */
}

@media (max-width: 45rem) {
  .content h2 {
    font-size: 2.5em;
  }
}

.content h3 {
  font-size: 2em;
  margin-bottom: 20px;
}

.content p {
  font-family: "Inconsolata";
  font-size: 1.2em;
  margin: 10px;
}

.content form input {
  margin-top: 1em;
}

.content button {
  width: 300px;
  height: 75px;
  border: 5px solid #000f17;
  border-radius: 30px;
  background-color: #cfbcc9bb;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
}

/** Blurbs **/

#about .profile_pic_container {
  width: 10%;
  margin: 2%;
  vertical-align: top;
  display: inline-block;
  text-align: center;
}

#about #profile_pic_container_focused {
  width: 12%;
  margin: 2%;
  display: inline-block;
  text-align: center;
}

#about .profile_pic_container p {
  font-size: 1em;
  margin: 0;
  margin-top: 10px;
  font-weight: bold;
}

#about .profile_pic_container .job_descr {
  font-size: 0.9em;
  font-weight: normal;
}

#about .profile_pic {
  width: 100%;
  cursor: pointer;
  border-radius: 25%;
}

#about #profile_quote_container {
  margin-left: 7vw;
  margin-top: 30px;
}

#about #profile_quote_container p {
  display: inline-block;
}

#about #profile_quote_text {
  width: 60%;
  display: inline-block;
  margin-left: 5px;
}

#about #profile_quote_text p {
  display: none;
  margin: 0;
}

#about #profile_quote_container #start_quote_mark {
  height: 2em;
  vertical-align: top;
  margin-top: 0;
}

#about #profile_quote_container #end_quote_mark {
  height: 2em;
  vertical-align: bottom;
  margin-bottom: 0;
}

/** Sponsors section **/

#sponsors img {
  width: 15%;
  margin: 1%;
}
